{{ define "main" }}
<article class="post">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">📅 {{ .Date.Format "2006年01月02日 15:04" }}</time>
      {{ with .Params.tags }}
      <div class="tags">
        {{ range . }}<a href="{{ (printf "tags/%s/" (. | urlize)) | relURL }}" class="tag">{{ . }}</a>{{ end }}
      </div>
      {{ end }}
    </div>
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{ end }}
